[data-playground-view='shell'] {
  font-size: var(--neoverse-layout-presentation-root-size);
}

[data-playground-view='shell'],
[data-playground-view='shell'] body,
[data-playground-view='shell'] #app {
  height: 100%;
}

[data-playground-view='shell'],
[data-playground-view='shell'] body {
  overflow: hidden;
}

[data-design-lab-workspace] {
  scrollbar-gutter: stable;
}

.playground-navigation-item--flat-active {
  --neoverse-navigation-item-active-background: none;
  --neoverse-navigation-item-active-shadow: var(--neoverse-shadow-none);
}
