@import '@neoverse-ui/tokens/css';

@layer neoverse-motion {
  :root {
    --neoverse-motion-feedback-duration: var(--neoverse-motion-duration-fast);
    --neoverse-motion-feedback-easing: var(--neoverse-motion-easing-standard);
    --neoverse-motion-state-duration: var(--neoverse-motion-duration-standard);
    --neoverse-motion-state-easing: var(--neoverse-motion-easing-standard);
    --neoverse-motion-spatial-duration: var(--neoverse-motion-duration-expressive);
    --neoverse-motion-spatial-easing: var(--neoverse-motion-easing-emphasized);
  }

  @media (prefers-reduced-motion: reduce) {
    :root {
      --neoverse-motion-duration-fast: 1ms;
      --neoverse-motion-duration-standard: 1ms;
      --neoverse-motion-duration-expressive: 1ms;
      --neoverse-motion-feedback-duration: 1ms;
      --neoverse-motion-state-duration: 1ms;
      --neoverse-motion-spatial-duration: 1ms;
      --neoverse-motion-easing-standard: step-end;
      --neoverse-motion-easing-emphasized: step-end;
      --neoverse-motion-feedback-easing: step-end;
      --neoverse-motion-state-easing: step-end;
      --neoverse-motion-spatial-easing: step-end;
      --neoverse-motion-spatial-distance: 0px;
    }
  }
}
